#div1 {
    width: 100%;
    background-color: red;
    float: left;
}

#div2 {
    width: 100%;
    background-color: green;
    float: right;
}

p {
    font-size: 70%;
}

@media screen and (max-width:430px) and (min-width:250px) {
    #div1 {
        width: 70%;
        background-color: red;
        float: left;
    }

    #div2 {
        width: 30%;
        background-color: green;
        float: right;
    }
}